.about-avantage {

    .img-cover {
        background-image: url("/assets/images/placeholder/about/about-avantage-1.webp");
        background-size: cover;
        background-position: bottom center;
    }
}
