/* ==========================================================================
   about / components
   ========================================================================== */

// Page avantages -> voir bugs.scss

// Page déroulement
.about-deroulement {
    .order-switch {

        @media screen and (max-width: 768px) {
            order: 2;
        }
    }

    .service-blog {
        position: relative;

        b {
            color: $dark-gray-bg;
            user-select: none;
        }
    }
}
