/* ==========================================================================
   four-sections / components
   ========================================================================== */

// four-sections-1 (Club gazon)
.four-sections-1 {

    .fs1-info {
        background-color: #fff;
        border-radius: 20px;
        padding: 30px;
        box-shadow: 0 7px 40px rgba(0, 0, 0, 5%);
        margin-left: 25px;
        margin-right: 25px;
        position: relative;
        margin-top: -60px;
    }

    .fs1-img-1 {
        //background: url("/assets/images/placeholder/background-placeholder.webp");
    }

    .icon-bnt {
        display: flex;
        justify-content: space-between;

        i {
            font-size: 40px;
            color: $theme-color;
        }

        img {
            width: 3.5em;
            height: 3.5em;
        }
    }

    .call-action-icon {
        width: 55px;
        height: auto;
    }

    .bnt-arrow-round {
        width: 55px;
        height: 55px;
        border: 2px solid #f1f1f1;
        border-radius: 100%;
        display: flex;
        align-items: center;
        background-color: $theme-color;

        i {
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            font-weight: 600;
            color: white;
            text-decoration: none;
        }
    }
}

// four-sections-2 (Serrurier)
.four-sections-2 {
    .p-15 {
        padding: 15px;
    }
}

// four-sections-3 (Visionère4)
.four-sections-3 {
    .a-boxes {
        padding: 40px 25px;
    }

    .c-icon-services {
        width: 70px;
        height: auto;
    }

    .feature-icon {
        span {
            padding: 0;
        }
    }

    .bnt-arrow-simple {
        color: $theme-color;
    }
}

// four-sections-4 (Chiropratiquepelletier)
.four-sections-4 {

}

// four-sections-5 (fondationphilippelaprise)
.four-sections-5 {
    .fs5-round {
        border-radius: 16px;
    }

    .feature-icon {
        span {
            padding: 0;
        }
    }
}

// four-sections-6 (pavagesealtec)
.four-sections-6 {
    .fz-40 {
        font-size: 40px;
    }
}
