/* ==========================================================================
   page / services
   ========================================================================== */
// Accueil 1 (Club Gazon)
.page-services1-services {
    .services-4 {
        .bg-images {
            background-image: url("/assets/images/placeholder/accueil/accueil1-service-icon-bg.svg");
        }
    }
}

// Accueil 2 (Chiropratique Trottier)
// Accueil 3 (LKB360)

// Accueil 4 (Visionère4)
.page-services4-hero {

    .portfolio-overlay {
        padding: 22px 20px;
        bottom: 0;
        background-color: rgba(50, 62, 72, 0.5);
        backdrop-filter: blur(16px);
    }

    a.popup {
        right: 0;
        top: 0;
        width: 68px;
        height: 62px;
        border-radius: 0;
        margin-right: 0;
        line-height: 62px;
        background: $theme-color;
        font-size: 20px;
        color: #fff;
    }
}

// Accueil 5 (Assainiteck)
