.page-services4 {

    .page-services4-hero {

        .portfolio-overlay {
            padding: 22px 20px;
            bottom: 0;
            background-color: rgba(50, 62, 72, 0.5);
            backdrop-filter: blur(16px);
        }

        a.popup {
            right: 0;
            top: 0;
            width: 68px;
            height: 62px;
            border-radius: 0;
            margin-right: 0;
            line-height: 62px;
            background: $theme-color;
            font-size: 20px;
            color: #fff;
        }
    }
}
