/* ==========================================================================
   sliders / components
   ========================================================================== */

.slider {
    overflow: hidden;
}

.slider1 {
    background: url("/assets/images/placeholder/background-placeholder.webp") center no-repeat;
}

.slider2 {
    padding: 50px 0 0 0 !important;

    .slider2__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.slider3 {
    background: url("/assets/images/placeholder/background-placeholder.webp") center no-repeat;
    height: 600px;
    position: relative;

    .slider3__container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .slider3__info {
        max-width: 40%;
        position: relative;
        z-index: 10;
    }

    .slider3__titre {
        font-size: 4rem;
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;

        width: 60%;
        height: 100%;
        overflow: hidden;
        background: url("/assets/images/placeholder/sliders3-placeholder.webp") no-repeat;
        background-size: auto 100%;

        @media screen and (min-width: 1900px) {
            background-position-x: right;
        }
    }
}

/* ==========================================================================
   animations / sliders
   ========================================================================== */

.bg-zoom-out {
    animation: bg-zoom-out 12s ease forwards;
}

@keyframes bg-zoom-out {
    from {
        background-size: 120%;
    }
    to {
        background-size: 100%;
    }
}

.from-bottom {
    animation: from-bottom 3s ease forwards;
    overflow: hidden;
}

@keyframes from-bottom {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.text-left {

}

@keyframes text-left {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    30% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
    }
}
