/* ==========================================================================
   sliders / components
   ========================================================================== */

.slider {
    overflow: hidden;
}

.slider1 {
    background: url("/assets/images/placeholder/background-placeholder.webp") center no-repeat;
}

.slider2 {
    padding: 50px 0 0 0 !important;

    .slider2__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.slider3 {
    background: url("/assets/images/placeholder/sliders3-bg.webp") center no-repeat;
    height: 750px;
    position: relative;
    overflow: hidden;

    .slider3__container {
        height: 100%;
        display: flex;
        align-items: center;
    }

    .slider3__info {
        max-width: 40%;
        position: relative;
        z-index: 10;

        p {
            color: $white;
        }
    }

    .slider3__titre {
        line-height: 1.1;
        text-transform: uppercase;

        span {
            font-size: $fs-70;
            color: $theme-color;
        }
    }

    &::before {
        content: "";
        position: absolute;
        right: 0;
        top: 0;

        width: 100%;
        height: 100%;
        background: rgba(84, 86, 90, 0.9);
    }

    &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: 0;

        width: 60%;
        height: 120%;
        overflow: hidden;
        background: url("/assets/images/placeholder/sliders3-placeholder.webp") no-repeat;
        background-size: auto 100%;

        animation: text-right 1.5s ease forwards;

        @media screen and (min-width: 1900px) {
            background-position-x: right;
        }

        @media screen and (max-width: 1200px) {
            height: 100%;
        }
    }
}

.sliders4 {
    height: 100vh;
    width: 100%;
    position: relative;

    p {
        color: $white;
    }

    .seo-h1 {
        font-size: $fs-64;

        &.theme-color {
            color: $theme-color;
        }
    }

    .seo-h4 {
        margin: 40px 0;
    }

    .swiper {
        height: 100%;

        .swiper-button-prev, .swiper-button-next {

            &::after {
                color: $white;
            }
        }
    }

    .swiper-slide {
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        .bg-img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }

        .container {
            position: relative;
            z-index: 10;

            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100%;

            > * {
                width: 60%;
            }
        }
    }

    .slider__drop {
        height: 55px;
        width: 35px;
        border-radius: 24px;
        border: solid 3px white;
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
            height: 8px;
            width: 8px;
            border-radius: 100%;
            background: white;
            opacity: 0;
            animation: drop 2s 2s ease-out infinite;
        }
    }
}

.sliders5 {
    position: relative;
    height: 800px;

    .seo-h1 {
        font-size: $fs-50;
        line-height: 1.1;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        position: relative;
        z-index: 10;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;

        overflow-x: hidden;

        > * {
            max-width: 60%;
            color: $white;
        }
    }
}

.sliders6 {
    height: 700px;
    position: relative;
    overflow: hidden;

    @media screen and (max-width: $laptop) {
        height: 540px;
    }

    @media screen and (max-width: $tablet-portrait) {
        height: 480px;
    }

    @media screen and (max-width: $mobile-landscape) {
        height: 400px;
    }

    p {
        font-size: $fs-42;
        color: $white;
        font-weight: $fw-7;
    }

    .green-bg {
        background: rgba(141, 198, 63, 0.8);
    }

    .black-bg {
        background: rgba(10, 10, 10, 0.8);
    }

    .red-bg {
        background: rgba(183, 33, 33, 0.9);
    }

    .button {
        border: none;
        border-radius: 0;
        color: #000;
        font-size: $fs-16;
        font-weight: $fw-7;

        &:hover {
            background: $white;
        }

        @media screen and (max-width: $mobile-landscape) {
            font-size: $fs-14;
            font-weight: $fw-5;
        }
    }

    .swiper {
        height: 100%;
    }

    .swiper-slide {
        position: relative;

        .row {
            height: 100%;
        }

        > img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .img-couple {
            max-width: 130%;

            @media screen and (max-width: 991px) {
                max-width: 100%;
            }
        }

        .sliders6-textes {
            position: relative;
            z-index: 10;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;

            p {
                margin: 0;
                text-transform: uppercase;
                font-size: $fs-36;

                @media screen and (max-width: $tablet-portrait) {
                    font-size: $fs-28;
                }

                span {
                    display: inline-flex;
                    padding: 2px 10px;
                }
            }

            .avant-apres {

                p {
                    font-size: $fs-20;
                    font-weight: $fw-4 !important;
                }
            }

            @media screen and (max-width: $tablet-landscape) {
                .slide1-texte {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-align: center;

                    .after-bio {
                        @media screen and (max-width: $tablet-portrait) {
                            display: none !important;
                        }
                    }
                }

                &.slide2-texte {
                    text-align: center;
                    display: flex;
                    align-items: center;

                    .w-50 {
                        width: 100% !important;
                    }

                    .avant-apres {
                        display: none !important;
                    }

                    .after-bio::after {
                        @media screen and (max-width: $tablet-portrait) {
                            display: none !important;
                        }
                    }
                }
            }
        }

        @media screen and (max-width: $tablet-landscape) {

            &.slide3 {
                display: flex;
                justify-content: center;
            }

            .slide3-texte {
                width: 75%;
            }
        }


        .after-bio {
            position: relative;

            &::after {
                content: "";
                background: url("/assets/images/placeholder/sliders6-icone.webp") no-repeat;
                background-size: 120px;
                object-fit: contain;
                height: 120px;
                width: 120px;

                position: absolute;
                bottom: 50%;
                right: -100px;
                transform: translateY(50%);

                @media screen and (max-width: $tablet-portrait) {
                    background-size: 80px;
                    height: 80px;
                    width: 80px;

                    right: -70px;
                }
            }
        }
    }

    .sliders6-gazon {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 11;
    }
}
