.menu-mobile-collapse-trigger {
    top: 50% !important;
}

.hoverTrigger {
    position: relative;
}

.header.fancy .mega-menu.desktopTopFixed .menu-logo {
    padding: 0;
}

// Peut être supprimé
.divider {
    background: $theme-color;
}
