.menu-mobile-collapse-trigger {
    top: 50% !important;
}

.hoverTrigger {
    position: relative;
}

.header.fancy .mega-menu.desktopTopFixed .menu-logo {
    padding: 0;
}

.menu-list-items {
    height: 92px;
}

.mega-menu .drop-down-multilevel {
    width: 220px;

    @media screen and (max-width: 991px) {
        width: 100%;
    }

    .drop-down-multilevel {
        top: 0 !important;
    }
}

// New-split-section
.new-split-section {
    position: relative;

    &.left {
        .col-img {
            padding: 0;

            @media screen and (max-width: 768px) {
                order: 2;
            }
        }

        img {
            left: 0;
        }


    }

    &.right {
        .col-img {
            padding: 0;
        }

        img {
            right: 0;
        }
    }

    .new-split-section-image {
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        object-fit: cover;

        @media screen and (max-width: 768px) {
            position: relative;
            width: 100%;
            max-height: 400px;
        }
    }

    .new-split-section-texte {
        padding: 100px 0;

        @media screen and (max-width: 991px) {
            padding: 60px 0;
        }

        @media screen and (max-width: 768px) {
            padding: 30px 0;
        }
    }
}

// SEO
.carousel-ville {
    background-color: $carousel-ville-bg;
    border-top: solid 1px $carousel-ville-border;
    border-bottom: solid 1px $carousel-ville-border;

    .swiper-wrapper {
        align-items: center;
    }
    
    a {
        color: $carousel-ville-color;
        text-align: center;

        &:hover {
            color: $carousel-ville-color;
        }
    }
}

// Pour les bouttons
.button {
    margin-bottom: 24px;
}

// Pour les arrow de swiperjs
.swiper-button-prev, .swiper-button-next {

    &.arrow-white {
        &::after {
            color: $white;
        }
    }

    &::after {
        color: $theme-color;
    }
}

// Pour les animations de swiperjs
.swiper-slide {
    overflow: hidden;
}

// Peut être supprimé
.divider {
    background: $theme-color;
}
